@font-face {
    font-family: "MyFont";
    src: url("../fonts/Hero-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "MyFont";
    src: url("../fonts/Hero-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyFont";
    src: url("../fonts/Hero-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/kirpich.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(7px);
    z-index: -1; 
}
